In [3]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np
from numpy import corrcoef

In [13]:
prices = pd.read_csv("close_prices.csv")
prices = prices.drop(columns="date")

In [14]:
pca = PCA(n_components=10)
pca.fit(prices)

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [21]:
arr = pca.explained_variance_ratio_
count = 0
s = 0

for i in range(len(arr)):
    count += 1
    value = arr[i]
    s += value
    if s > 0.9:
        break
count

4

In [27]:
first_comp = pd.DataFrame(pca.transform(prices)[:,0])
first_comp

             0
0   -50.902404
1   -52.846909
2   -54.614439
3   -52.600566
4   -52.370123
..         ...
369  81.290980
370  77.903534
371  83.798199
372  79.195789
373  82.968859

[374 rows x 1 columns]

In [29]:
jones = pd.read_csv("djia_index.csv")
jones

           date          ^DJI
0    2013-09-23  15401.379883
1    2013-09-24  15334.589844
2    2013-09-25  15273.259766
3    2013-09-26  15328.299805
4    2013-09-27  15258.240234
..          ...           ...
369  2015-03-12  17895.220703
370  2015-03-13  17749.310547
371  2015-03-16  17977.419922
372  2015-03-17  17849.080078
373  2015-03-18  18076.189453

[374 rows x 2 columns]

In [31]:
corrcoef(first_comp.T, jones.iloc[:, 1].T)[1,0]

0.9096522193050238

In [40]:
ind = np.argmax(pca.components_[0])
prices.columns[ind]

'V'

In [42]:
with open("ans4", "w") as f:
    f.write('V')