In [12]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, precision_recall_curve

In [3]:
data = pd.read_csv("classification.csv")
data

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [4]:
tp = 0
fp = 0
fn = 0
tn = 0

y_true = data.iloc[:, 0]
y_pred = data.iloc[:, 1]

for i in range(y_true.shape[0]):
    value_true = y_true[i]
    value_pred = y_pred[i]
    
    if value_true == 1 and value_pred == 1:
        tp += 1
    elif value_true == 0 and value_pred == 0:
        tn += 1
    elif value_true == 1 and value_pred == 0:
        fn += 1
    else:
        fp += 1

print(tp, fp, fn, tn)
        
with open("classification", "w") as f:
    f.write("43 34 59 64")

43 34 59 64

In [5]:
print(accuracy_score(y_true, y_pred))
print(precision_score(y_true, y_pred))
print(recall_score(y_true, y_pred))
print(f1_score(y_true, y_pred))

with open("scores", "w") as f:
    f.write("0.54 0.56 0.42 0.48")

0.535
0.5584415584415584
0.4215686274509804
0.48044692737430167

In [21]:
data = pd.read_csv("scores.csv")
data

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [22]:
y_true = data["true"]
score_logreg = data["score_logreg"]
score_cvm = data["score_svm"]
score_knn = data["score_knn"]
score_tree = data["score_tree"]

print(roc_auc_score(y_true, score_logreg))
print(roc_auc_score(y_true, score_cvm))
print(roc_auc_score(y_true, score_knn))
print(roc_auc_score(y_true, score_tree))

with open("column", "w") as f:
    f.write("score_logreg")

0.719187675070028
0.7086834733893557
0.6351540616246498
0.6919267707082833

In [34]:
scores = [score_logreg, score_cvm, score_knn, score_tree]

for score in scores:
    precision, recall, thresholds = precision_recall_curve(y_true, score)    
    df = pd.DataFrame({"precision": precision, "recall": recall})
    print(df[df['recall'] >= 0.7].max()['precision'])
    
with open("precision", "w") as f:
    f.write("score_tree")

0.6302521008403361
0.6228070175438597
0.6065573770491803
0.6517857142857143